<h1>Listing jams</h1>

<table>
  <thead>
    <tr>
      <th>Jam name</th>
      <th>Jam description</th>
      <th>Jam url</th>
      <th>Jam embed</th>
      <th>Jamkey</th>
      <th>Jamgenre</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jams.each do |jam| %>
      <tr>
        <td><%= jam.jam_name %></td>
        <td><%= jam.jam_description %></td>
        <td><%= link_to jam.jam_url, jam.jam_url %></td>
        <td><%= jam.jam_embed %></td>
        <td><%= jam.jamkey_id %></td>
        <td><%= jam.jamgenre_id %></td>
        <td><%= jam.user_id %></td>
        <td><%= link_to 'Show', jam %></td>
        <td><%= link_to 'Edit', edit_jam_path(jam) %></td>
        <td><%= link_to 'Destroy', jam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jam', new_jam_path %>
